* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: Helvetica, Arial, sans-serif;
    --primary-bgcolor: #fff;
    --font-color: #999;
     
}

body {
    background-color: #575757;
}

/* Apply Styles to <header> */

header {
    padding: 20px 35px;
    background-color: #151515;
    
}

header h1 {
    display: inline;
    font-size: 36px;
    padding: 10px;
    background-color: #575757;
}

/* Apply Styles to Header Elements */

header a {
    text-decoration: none;
    font-family: var(--font-family);
    color: #999;
    font-weight: bold;
    font-size: 36px;
    
}

/* Apply Style to Navigation Bar */

header nav {

    float: right;
    margin: 7px 0;
 
}

header nav ul li {
    display: inline;
  }

header nav ul {
    background-color: teal;
}

header nav ul li a {
    background-color: teal;
    margin: 0 20px;
    font-weight: lighter;
    font-size: 18px;
   
}


header nav li a {
    color: #999;
    font-family: var(--font-family);
   

}

/* Hero Style Start */

.hero {
    background-image: url("../images/Indian\ Peaks\ Sunset\ 2.jpg");
    background-size: cover;
    background-position: center;

}


/* Projects Section Styling */

section {
    padding: 10px;
    margin: 20px;
    background-color: aliceblue;
}


/* About Section Styling */





/* Contact Section Styling */



/* Footer Styling */

footer {
    padding: 40px 35px;
    font-family: var(--font-family);
    color: var(--font-color);
    width: 100%;
    background-color: var(--primary-bgcolor);
    text-align: right;
    
}

footer div {
    float: right;
    font-size: 14px;
    line-height: 1.5;
}



/* MEDIA QUERY FOR SMALLER DESKTOP AND MOBILE */

@media screen and (max-width: 980px) {
    /* this will apply to any screen smaller than 980px */


}


@media screen and (max-width: 575px) {
    /* this will apply to any screen smaller than 575px */


}