* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: Helvetica, Arial, sans-serif;
    --primary-bgcolor: #fff;
    --font-color: #999;
     
}

body {
    background-color: #767676;
    color: var(--font-color);
}

.section-title h2 {
    font-family: var(--font-family);
    color: var(--font-color);

}



/* Apply Styles to <header> */

header {
    position: fixed;
    padding: 20px 35px;
    background-color: #151515;
    width: 100%;
    
}

/* Apply Styles to Header Elements */

header h1 {
    display: inline;
    padding: 10px;
    background-color: #575757;
   
}



header a {
    text-decoration: none;
    font-family: var(--font-family);
    color: #999;
    font-weight: bold;
    font-size: 36px;
    
}

/* Apply Style to Navigation Bar */

header nav {   
    float: right;
    margin: 7px 0;
 
}

header nav ul li {
    display: inline;
  }

header nav ul {
    background-color: teal;
}

header nav ul li a {
    background-color: teal;
    margin: 0 15px;
    font-weight: lighter;
    font-size: 18px;
   
}


header nav li a {
    color: #999;
    font-family: var(--font-family);  

}



/* Hero Style Start */

.hero {
    background-image: url("../images/Indian\ Peaks\ Sunset\ 2.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    width: 100%;
    
 
}

/* Hero Style END */


/* Projects Section Styling */

.projects-section {
    width: 100%;
    padding: 30px 45px;
    margin: 20px 0;
    background-color: aliceblue;
    text-align: center;
    overflow: auto;
}

.projects-section div h2 {
    float: left;
    padding: 25px 45px 15px 45px;
    border-right: 3px solid var(--font-color);
    background-color: #151515;
   
}

.projects-section p {
    padding: 10px 35px;
    background-color: #151515;
}




/* About Section Styling */

.about-section {
    display: flex;
    width: 100%;
    padding: 20px;
    margin: 15px 0;
    background-color: aquamarine;   
    
}

.about {
    margin: 0 auto 30px auto;
    overflow: auto;
    
}

.about-section div h2 {
        display: flex;
        align-items: flex-end;
        width: 200px;
        height: 200px;
        padding-right: 10px;
        border-right: 3px solid #767676;
        
    }




.about img {
    width: 40%;
    padding: 0 25px;
    float: left;
   
}


.about p {
    text-align: left;
    padding: 10px 25px;
    line-height: 1.2;
    font-size: 17px;
    
}




/* Contact Section Styling */

.contact-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: auto;
    width: 100%;
    padding: 25px;
    margin: 15px 0;
    background-color: azure;

}

.contact-section a {
    font-family: var(--font-family);
    color: var(--font-color);
}


.social-contact {
    margin: 0 auto 30px auto;
    display: inline-flex;
    background-color: #767676;
    justify-content: space-around;
    align-items: flex-end;
    width: 70%;
}

.social-contact a {
    padding: 5px;
}

.social-contact h3 {
    padding: 0 5px;
    font-size: 24px;
    font-weight: bold;
}

.contact-info {
    width: 200px;
    border-right: 3px solid #767676;
    
}







/* Resume Section Styling */

.resume-section {
    display: flex;
    width: 100%;
    padding: 20px;
    margin: 15px 0;
    background-color: goldenrod;
    
}

.resume-section h2 {
    display: flex;
    align-items: flex-end;
    width: 200px;
    height: 100px;
    padding-right: 10px;
    border-right: 3px solid #767676;
    
}

.resume-section p {
    display: flex;
    
}



/* Footer Styling */

footer {
    width: 100%;
    padding: 40px 35px;
    font-family: var(--font-family);
    color: var(--font-color);
    background-color: var(--primary-bgcolor);
    text-align: right;
    
}

footer div {
    float: right;
    font-size: 14px;
    line-height: 1.5;
}



/* MEDIA QUERY FOR SMALLER DESKTOP AND MOBILE */

@media screen and (max-width: 980px) {
    /* this will apply to any screen smaller than 980px */


}


@media screen and (max-width: 575px) {
    /* this will apply to any screen smaller than 575px */


}